[Unit]
Description=Run Amsterdam appointment checker every 1 hour

[Timer]
OnBootSec=2min
OnUnitActiveSec=1h
Persistent=true

[Install]
WantedBy=timers.target
